<app-not-found
  [visible]="!ticket"
  notFoundMessage="Product not found!"
  resetLinkText="Back to Homepage"
  (resetClicked)="navigateToRoute()">
</app-not-found>

<div *ngIf="ticket" class="container">
  <img [src]="'assets/images/' + ticket.imageUrl" [alt]="ticket.name">
  
  <div class="details">
    <div class="header">
      <span class="name">{{ ticket.name }}</span>
    </div>

    <div class="price">
      <span>{{ ticket.price | priceHUF }}</span>
    </div>

    <button (click)="addToCart(ticket)" mat-button>Add to Cart</button>
  </div>
</div>
